* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  border: 0;
}
img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1310px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
[class*="row"] {
  padding-top: 5px;
} 
.header .container .col-4 .menu p {
  border-radius: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}
.header .container .col-4 .search {
  padding: 8px 20px 10px 20px;
  position: relative;
}
.header .container .col-4 .search input {
  padding: 18px;
  width: 320px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 13px;
  width: 100%;
  padding: 14px 20px 10px 20px;
}
.header .container .col-4 .menu {
  display: flex;
  padding: 14px 0px;
  line-height: 0px;
}
.header .container .col-4 .search i {
  color: #999;
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 20px;
  width: 20px;
}
.icon {
  padding: 10px;
  float: right;
}
.icone {
  background: #eee;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  font-size: 25px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  width: 40px;
}
/* .container .row img{
  position: relative;
}
.container .row p{
  position: absolute;
} */
.container .row h1{
  padding: 20px 0px;
  font-size: 23px;
}
.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 78%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}
a {
  text-decoration: none;
  font-size: 12px;
}
