<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peaky Blinders</title>
    <link rel="stylesheet" href="/layout/css/style.css" />
  </head>
  <body>
    <div class="footer">
      <div class="Logo">
        <img src="/layout/image/logo.png" alt="" />
      </div>
      <div class="title" >
        <p>Bóng Ma Anh Quốc</p>
      </div>
      <div class="menu">
        <ul>
          <li>
            <a
              href="https://www.imdb.com/video/vi4265067289?playlistId=tt2442560&ref_=tt_ov_vi"
            >
              Watch Traller</a
            >
          </li>
          <li>
            <a
              href="https://www.imdb.com/search/title/?genres=crime&explore=title_type,genres&ref_=tt_ov_inf"
              >Crime</a
            >
          </li>
          <li>
            <a
              href="https://www.imdb.com/search/title/?genres=drama&explore=title_type,genres&ref_=tt_ov_inf"
              >Drama</a
            >
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="Image Gallery">
      <div class="gallery">
        <a target="_blank" href="team1.jpg">
          <img src="/layout/image/team1.jpg" alt="Peaky blinders 1" />
        </a>
        <div class="caption">
          <!-- <img src="/layout/image/icon1.png" alt="" /> -->
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.1</a
          >
        </div>
      </div>
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/layout/image/team2.jpeg" alt="Peaky blinders 2" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.2</a
          >
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="/layout/image/team3.jpg" alt="Peaky blinders 3" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.3</a
          >
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/layout/image/team4.jpg" alt="Peaky blinders 4" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.4</a
          >
        </div>
      </div>
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/layout/image/team5.png" alt="Peaky blinders 5" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.5</a
          >
        </div>
      </div>
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/layout/image/team6.jpg" alt="Peaky blinders 6" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.6</a
          >
        </div>
      </div>
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/layout/image/team7.jpg" alt="Peaky blinders 7" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.7</a
          >
        </div>
      </div>
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/layout/image/team8.jpg" alt="Peaky blinders 8" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.8</a
          >
        </div>
      </div>
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/layout/image/team9.jpg" alt="Peaky blinders 9" />
        </a>
        <div class="caption">
          <a href="https://www.imdb.com/title/tt2442560/" class="link"
            >Peaky Blinders pt.9</a
          >
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
