* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: #170f23;
}
.container {
  margin: auto;
  max-width: 1300px;
}
.header {
  display: flex;
  justify-content: flex-start;
  border: 5px solid transparent;
  margin-top: 12px;
  overflow: hidden;
}
.you img {
  width: 70px;
  border-radius: 10px;
}
.detail {
  width: 130px;
  margin-left: 10px;
  margin-top: -17px;
}
.detail h3 {
  color: white;
}
.detail p {
  color: rgba(255, 255, 255, 0.5);
}
.content {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}

.gallery {
  margin: 5px;
  border: 1px solid transparent;
  width: 240px;
  overflow: hidden;
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
.gallery:hover {
  border: 2px solid #c662ef;
}
.info a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.info p {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}
.Footer .news {
  color: white;
}
.info{
  margin-top: 5px;
}

img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallery :hover img {
    -webkit-transform: scale(1.3);
	transform: scale(1.1);
}