.btn {
    /* margin: 20px 10px 10px 0; */
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 0%;
    padding: 0.5rem 4.7rem;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: none;
    transition: 0.5s;
    font-size: 12px;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    z-index: -1; 
    background-color: gray;
  }
  .btn--detail:before {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.25s linear;
  }
  .btn--detail:hover:before {
    width: 100%;
  }
  .card-item .btn--detail:hover a{
    color: white;
  }
  .card-item:hover .btn{
    display: inline-block;
    margin: 10px auto;
  }
  .card-item:hover .card-title{
    display: none;
  }
  .card h2:nth-child(1) {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 700;
  }
  .card-item {
    /* height: 314px; */
    /* margin-bottom: 40px; */
    text-align: center;
  }
  .card-item:hover{}
  .card-item .card-title h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45;
    margin-top: 10px;
  }
  .card-item .card-title p:nth-child(2) {
    font-weight: 600;
    font-size: 14px;
    color: #252a2b;
  }
  .card-item:hover img{
    transform: scale(1.1);
  }
  .card-title h3 {
    display: block;
    color: black;
    font-weight: bold;
    position: relative;
  }
  .card-image{
    overflow: hidden;
  }
  .card-image img{
    transition: all 0.3s ease-in-out;
  }
  /* /* .card-image {
    position: relative;
  }
  .card-image img:last-child {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    transition: all 0.7s ease;
    object-fit: cover;
  }
  .card-image img:last-child:hover {
    opacity: 1;
  } */
  .card-item:hover .btn-detail {
    visibility: visible;
    opacity: 100;
  } 
  .card-image .social{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .card-image .social li {
    margin-bottom: 10px;
    transform: translateX(100px);
    transition: 0.5s all ;
    
  }
  .card-image:hover .social li{
    transform: translateX(0);
  }
  .card-image .social li a{
    color: #666;
    background-color: #fff;
    font-size: 16px;
    line-height: 40px;
    width: 30px;
    display: block;
    transition: 0.5s all ;
  }
  .card-image .social a:hover{
    color: #fff;
    background-color: #03aae8;
  }
 