@media (max-width: 990px) {
  .menu-icon {
    display: inline-block;
  }

  #header ul li.active {
    border-bottom: none;
  }

  .menu ul {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    z-index: 10002;
    flex-direction: column;
    transition: all 0.3s;
    padding: 0;
  }
  .menu ul li {
    margin: 20px 0;
    transition: all 0.5s;
    margin-left: 0;
  }
  li a {
    font-weight: bold;
    font-size: 16px;
  }
  .menu ul li:nth-child(1) {
    margin-top: 0;
    background-image: url(/Degrey-Website/img/li/li\ 1.png);
  }
  .menu ul li:nth-child(2) {
    background-image: url(/Degrey-Website/img/li/li2.png);
  }
  .menu ul li:nth-child(3) {
    background-image: url(/Degrey-Website/img/li/li3.png);
  }
  .menu ul li:nth-child(4) {
    background-image: url(/Degrey-Website/img/li/li4.png);
  }
  .menu {
    font-size: 10px;
  }
  .menu .menu-icon i {
  }
  .menu-icon {
    line-height: 15px;
  }
  .menu ul li:hover {
    background-color: aliceblue;
    color: aqua;
  }
  .image-item .image {
    margin-top: 10px;
  }
  .image-mini .mini-item {
    display: block;
  }
  #header .header-logo {
    margin: 0 15px;
  }
}
@media (max-width: 768px) {
  
  .footer-item {
    margin-bottom: 50px;
  }
  .intro-content iframe {
    height: 300px;
  }
 
  
}
@media (max-width: 567px) {
  .image .pc-tablet {
    display: none;
  }
  .image .sp {
    display: block;
  }
  .suggest-image img {
    margin: 0 auto;
  }
  .intro-content iframe {
    height: 250px;
  }
 
}
