* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.link {
  margin: 26px 73px;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.link a {
  text-decoration: none;
  color: #464646;
}
.info {
  margin: 20px 0;
}
.nav {
  display: flex;
  border: 2px;
  box-shadow: 5px 5px #888888;
  border-style: groove;
  margin-bottom: 25px;
}
.date {
  background: #fe6d3f;
  width: 160px;
  text-align: center;
  /* line-height: 40px; */
  /* margin-top: 20px; */
}
.wel {
  margin-left: 20px;
  width: calc(100% - 160px);
}
.time {
  display: flex;
  justify-content: space-between;
  width: 510px;
  margin-right: 10px;
}
.wel .time p {
  margin: 30px 0 0 0;
  display: inline;
}
.nav .date p:first-child {
  background: red;
  /* display: block; */
  line-height: 35px;
  margin: 0;
}
.content .ct2 {
  background: #4b96f2;
}
.content .ct3 {
  background: #fbbc05;
}
.map {
  width: 40%;
}
.timetable-item {
  float: left;
  width: 33, 333%;
}
.nav .date h2 {
  font-size: 40px;
  margin-bottom: 0;
  color: white;
}
.nav .date p {
  color: white;
}
.nav .date p:last-child {
  margin: 0 0 40px 0;
}
.wel .info a {
  font-size: 25px;
  text-decoration: none;
  color: #464646;
}
.wel .time i {
  margin-right: 8px;
}
.signup a {
  text-decoration: none;
  color: #3c78e8;
}
.map {
  margin-left: 30px;
}
.map p{
  margin: 0 0 20px 20px;
}