*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.title{
    margin-left: 30px;
}
.container, .footer {
    display: flex;
    margin: auto;
    max-width: 1300px;
    overflow: hidden;
    justify-content: space-between;
}
.img{
    width: 100%;
}
.container img {
    width: 400px;
    border-radius: 10px;
}
h2{
    margin-left: 30px;
}
.text{
    line-height: 35px;
    margin-top: -27px;
}
.back a{
    border: 1px solid #c4c4c4;
    background-color: #e5e5e5;
    color: gray;
    cursor: pointer;
    margin: 20px;
}
.footer li{
    font-size: 20px;
}
.footer img{
    width: 300px;
    border-radius: 10px;
}